body{
    background:aqua;
}
#titulo {    
        text-align:center;
        color:rgb(179, 167, 190);
        font-size: 40px;
    }
    


.texto{
    color:rgb(185, 20, 56);
    text-align: justify;
}


    


    

    
