h1{
    #titulo {
        text-align:center;
        color:rgb(179, 167, 190);
        font-size: 10px;
    }
    

}
p{
    color:rgb(185, 20, 56);
}
#texto{p {text-align: justify;
    
}
body{
    background:aqua;}

    
}